In [5]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
source=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')
soup=bs(source.text,'html.parser')
list=[]
n=soup.find('div',class_='rankings-block__banner--name-large').text
t=soup.find('div',class_='rankings-block__banner--nationality').get_text(strip=True)
r=soup.find('div',class_='rankings-block__banner--rating').text
data={'Name':n,'Team':t,'Rating':r}
list.append(data)
a=soup.find_all('tr',class_='table-body')
for i in a[0:9]:
    n1=i.find('td',class_='table-body__cell rankings-table__name name').a.text
    t1=i.find('span',class_='table-body__logo-text').text
    r1=i.find('td',class_='table-body__cell rating').text
    data={'Name':n1,'Team':t1,'Rating':r1}
    list.append(data)
df=pd.DataFrame(list)
df

                Name Team Rating
0       Ellyse Perry  AUS    374
1    Hayley Matthews   WI    373
2     Natalie Sciver  ENG    371
3     Marizanne Kapp   SA    349
4        Amelia Kerr   NZ    343
5      Deepti Sharma  IND    322
6   Ashleigh Gardner  AUS    270
7      Jess Jonassen  AUS    246
8     Jhulan Goswami  IND    214
9  Sophie Ecclestone  ENG    205

In [6]:
df.to_csv('allrounder_women10.csv')